body{
    
    background-color: #980C0D;
    
}

#cuerpo{

	background-color: white;
	padding: 5%;
	margin-right: 2.5%;
	margin-left: 2.5%;
	margin-top: 1.5%;

}

#esquina{

	width: 5%;
	height: 10%;
	margin-left: 1%;
	margin-top: 1%;
}
#esquina2{

	width: 5%;
	height: 10%;
	margin-left: 1%;
	margin-top: 1%;
	position: absolute;
	left: 6.5%;
	right: 2%;

}